@model IEnumerable<TaskManager.Data.ApplicationUser>

<h2>Список пользователей</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Email
            </th>
            <th>
                Номер телефона
            </th>

            <th>
                Позиция
            </th>
            <th>
                Уровень квалификации
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    @Html.DisplayFor(modelItem => user.Position.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.QualificationLevel.Name)
                </td>

                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                </td>
            </tr>
        }
</table>

<a asp-action="Index">Роли</a>