@model IEnumerable<TaskManager.Data.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Ваши проекты</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    <a asp-action="UserModule" asp-route-id="@item.Id">Подробнее</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
