@model TaskManager.Data.Utils

@{
    ViewData["Title"] = "Delete";
}



<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstParameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstParameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.secondParameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.secondParameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thirdParameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thirdParameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </form>
</div>
